.triangle {
  border-color: transparent transparent red transparent;
  border-style: solid;
  border-width: 0px 75px 75px 75px;
  height: 0px;
  width: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  &__text {
    margin-top: 75px;
  }
}
